# Bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Tests & Coverage
.pytest_cache/
.coverage
htmlcov/

# Linters
.ruff_cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env